body{
    background-image:url(/unnamed.jpg);
    background-color: #cccccc; 
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0.8;
}

section{
    background-image: url(/cafeteria.png);
    height: 400px;
    width: 400px;
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0.4;
    
}

img{
    width: 50%;
}